<div>
	<% if @tasks.empty?%>
		<span class="text-warning">There are no tasks</span>
	<% else %>
		<div class="list-group tasks">
			<% @tasks.each do |task| %>
				<%= link_to task_path(:id => task.id), remote: true do %>
					<button type="button" class="list-group-item text-left <%= 'disabled' if task.completed %> task">
						<%if task.completed %> 
							<span class="badge">
								Completed
							</span>
						<% end %>
						<div class=taskTitle>
							<%= task.title %>:
						</div>
						<div class="taskContents">
							<div class="taskDescription">
								<%= task.note %>
							</div>
							<div class="taskCompleted">
								completed = <%= task.completed %>
							</div>
						</div>
					</button>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>
