<div class="modal-header">
	<h1>Modify Task</h1>
	<div>
		<%= link_to 'Delete Task', task_path(task), class: 'btn btn-primary modifyBtn', remote: true, method: :delete, data: {confirm: 'Delete task: ' + @task.title} %>
		<%= link_to 'Edit Task', edit_task_path, class: 'btn btn-primary modifyBtn', remote: true %>
	</div>
</div>

