<div class="modal-header">
	<h1><%= task.new_record? ? 'New Task' : 'Edit Task: ' + task.title %></h1>
	<%= simple_form_for @task, class: "clearfix", remote: true do |form| %>
		<div class="modal-body">
			<%= form.input :title %>
			<%= form.input :note %>
			<%= form.input :completed %>
		</div>
		<div class="modal-footer">
			<%= form.submit 'Save', class: 'btn btn-primary'%>
		</div>
		<% end %>
</div>

