// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasks {
	margin-top: 20px;

	a, a:hover {
		text-decoration: none;
	}
}

.task {
	width: 100%;
	padding: 0 10px;
	display: block;

	.taskTitle {
		font-weight: bold;
		font-size: 1.2em;
	}

	.taskContents {
		padding-left: 10%;
	}
}

#modal {
	form {
		margin-bottom: 0;
	}

	.input {
		text-align: left;
	}

	.modifyBtn {
		margin: 20px;
	}
}

