<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="hero-unit text-center">
				<h1> Todo app </h1>
				<%= link_to 'New Task', new_task_path, class: 'btn btn-primary', remote: true %>
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
